<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<img src='/images/beer.png' id='beer-logo' />
<div>
  <button>
    <a class='btn' href='/beers'>Check the Beers</a>
  </button>
</div>
<div>
  <button>
    <a class='btn' href='/random-beer'>Check a Random Beer</a>
  </button>
</div>